.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  margin-bottom: 50px;
  background-color: #ccc;
  border-radius: 7px;
  transition: 0.7s;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.product-card:hover {
  transform: scale(1.05);
}

.card-image {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 30px;
}
.card-image img {
  width: inherit;
  height: 250px;
}

.card-content {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 30px;
}

#card-title {
  padding: 0 0 20px;
  font-size: 22px;
}
#card-description {
  font-style: italic;
  opacity: 0.7;
  margin-bottom: 50px;
}
#card-price {
  margin-top: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}
