@import "./pages/NotFoundPage/notFoundPage.css";
@import "./components/Header/Header.css";
@import "./components/CreateProductForm/createProductForm.css";
@import "./pages/ProductsPage/productsPage.css";
@import "./components/LoadingSkeleton/loadingSkeleton.css";
@import "./components/ProductCard/productCard.css";
@import "./pages/ProductPage/productPage.css";
@import "./components/ProductDetails/productDetails.css";
@import "./components/MayAlsoLike/mayAlsoLike.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: black;
}
