.product-content {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  background-color: #ccc;
  width: 90%;
  justify-self: center;
  border-radius: 7px;
  padding: 20px;
  margin-top: 150px;
}
